.boxLEFT{
    flex: 50%;
    background-color: var(--BGbox1);
    color:            var(--fontcolBox);
    font-size: var(--fsizeBox);
    font-family: var(--fontBox);
    padding: 20px 0px 20px 60px;        /* Top, Right, Bottom, Left */
    margin:  0px 0px 20px 0px;
    opacity: var(--opac);
}
.boxLEFT h1{
    font-family: var(--fontBoxH);
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: var(--botpadBoxH1);
    padding-left: 0px;
    margin: 0;
    font-size: var(--fsizeBoxH1);
}
.boxLEFT ul{
    margin: 0px;
}
.boxLEFT li{
    padding: 0px;
    margin: 0px;
    line-height: 1.4em;
    list-style-type: none;
}
/* --------------------------*/
.boxRIGHT{
    flex: 50%;
    background-color: var(--BGbox1);
    color:            var(--fontcolBox);
    font-size: var(--fsizeBox);
    font-family: var(--fontBox);
    padding: 20px 80px 20px 0px;     /* Top, Right, Bottom, Left */
    margin:  0px 0px 20px 0px;
    opacity: var(--opac);
}
.boxRIGHT h1{
    font-family: var(--fontBoxH);
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: var(--botpadBoxH1);
    padding-left: 0px;
    margin: 0;
    font-size: var(--fsizeBoxH1);
}
.boxRIGHT ul{
    margin: 0px;
}
.boxRIGHT li{
    padding: 0px;
    margin: 0;
    line-height: 1.4em;
    list-style-type: none;
}
/* --------------------------*/
.boxONE{
    flex: 100%;
    font-size: 12px;
    background-color: var(--BGbox1);
    color:            var(--fontcolBox);
    font-family: var(--fontBox);
    padding: 0px 0px 20px 200px;        /* Top, Right, Bottom, Left */
    margin:  0px 0px 20px 0px;
    opacity: var(--opac);
}
.boxONE h1{
    margin: 0;
    font-family: var(--fontBoxH);
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: var(--botpadBoxH1);
    padding-left: 0px;
    font-size: var(--fsizeBoxH1);
}
.boxONE ul{
    margin: 0px;
    padding: 0px;
}
.boxONE li{
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
