/* Tree Stylling ver 0.0.1 --------------------------*/
.rootTree {
    cursor:       pointer;
    user-select:  none;
    font-size:    18px;
    font-weight:  bold;
}
.rootTree li {
    list-style-type: none;
    font-size:  16px;
}
.rootTree::before {
    content:  "\25B6";                   /* this is triangle */
    color:    var(--fontTriangle);
    margin-right: 6px;
}
.rootTree-down::before {
    transform:  rotate(90deg);           /* not working?*/
}
.children {
    display:  none;
}
.children li {
    list-style-type: none;
    font-size:  16px;
    padding: 10px 0px 10px 20px;
}
.active {
    display:  block;
    background-color:  var(--BGopentree);
}
.terminalTree{
    user-select:  none;
    font-size:  16px;
}
